---

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/react/Header';
import FooterContainer from '@/components/FooterContainer.astro';

interface Props {
  title: string;
  description?: string;
  currentPage?: string;
}

const { title, description } = Astro.props;
const currentPage = Astro.url.pathname.replace('/', '');
---

<!doctype html>
<html lang="ko">

  <head>
    <BaseHead title={title} description={description ?? "Default Description"} />
  </head>
  <body>
    <Header client:load currentPage={currentPage} />
    <slot />
    <FooterContainer />
    <script>
      const documentElement = document.documentElement;
      const theme = localStorage.getItem('theme');

      theme === 'dark' ? documentElement.classList.add('dark') : documentElement.classList.remove('dark')
    </script>
  </body>



</html>